@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ECCEAE;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
}

.container {
    position: absolute;
    /* margin-top: 300px; */
    max-width: 350px;
    width: 100%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #131842;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FBF6E2;
    scale: 1.2;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 60px;
    column-gap: 5px;
    margin-top: 7px;
}

#list-container {
    margin-top: 8px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 35px;
    /* user-select: none; */
    cursor: pointer;
    position: relative;
    font-size: 19px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 17px;
    left: 8px;
}

.input-container {
    margin-top: 25px;
}

.heading-one {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.icon-image {
    width: 50px;
}

.heading {
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    color: #E68369;
}

.input-container input {
    border: 1px none red;
    outline: none;
    background-color: #FBF6E2;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    color: #131842;
    font-size: 15px;
    font-weight: 400;
}

.input-container button {
    background-color: #131842;
    color: #ECCEAE;
    border: 1px solid #E68369;
    border-radius: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.9px;
}

ul li.checked {
    color: #ECCEAE;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}


ul li span {
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ECCEAE;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}